.App {
  text-align: center;
}

.modal-content {
  color: teal;
}

input {
  color: teal;
}

.demo-message {
  color: teal;
  text-align: left;
  width: 80%;
  margin: auto;
}

.instructions-header:hover {
  display: block;
}
.instructions {
  opacity: 0;
}
.instructions:hover {
  opacity: 1;
}
.app-main {
  padding-bottom: 10%;
}