.flash {
  border: none;
  border-radius: 1rem;
  /* color: whitesmoke;
  background: #ffc3a7; */
  color: #02587f;
  background-color: #cdeefd;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}
