.Tripcard {
  width: 150px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: white;
  border-radius: 3px;
  transition: all ease 500ms;
}
.Icons {
  margin: 1em 0px;
}
.box {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}

.box .text {
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 70%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  color: rgb(20, 248, 96);
  text-shadow: -1px -1px 0 rgb(6, 124, 79), 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 rgb(18, 61, 36);
}
.Tripcard-data {
  font-weight: normal;
  font-size: 0.8em;
}
.TrashRow {
  position: absolute;
  z-index: 100;
  margin: 10px;
  left: 0;
  right: 0;
  text-align: right;
}
.EditRow {
  position: absolute;
  z-index: 100;
  margin: 6px;
  left: 0;
  right: 0;
  text-align: right;
  top: 30%;
}

.TripIcon:hover {
  color: red;
  transform: scale(2);
}
.TripIcon {
  color: white;
}

.OverlayContainer {
  position: absolute;
}
.Tripcard-title {
  font-size: 1em;
}

.Trip-image {
  width: 130px;
  height: 100px;
}
.Tripcard-icon {
  width: 60px;
  height: 60px;
}
.Tripcard-temp {
  font-size: 1.64rem;
  margin-top: 0rem;
  margin-bottom: 0.656rem;
}

.Tripcard:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
