input[type="text"] {
  width: 90% !important;
}
/*
.react-datepicker-wrapper {
  width: 30% !important;
} */
.startDate {
  padding-left: 0.5em;
  padding-right: 1em;
}

.endDate {
  padding-left: 0.5em;
  padding-right: 1em;
}
