<% include ../partials/header %>
<div class="container">
  <div class="form-footer"><a href="/foodtrucks">Go to Main</a></div>
  <div class="row">
    <div class="col-md-12">
      <div id="citymap"></div>
    </div>
  </div>
</div>

<script>
  const lat = -37.8136;
  const lon = 144.9631;

  mapboxgl.accessToken =
    "pk.eyJ1IjoiYWxhbmNodSIsImEiOiJjazBsdzA4OXAwbzdpM2VwOW1zaGo4NWl4In0.EYn2kr7DOFk0PSMVk3lhSQ";
  var map = new mapboxgl.Map({
    container: "citymap", // HTML container id
    style: "mapbox://styles/mapbox/streets-v11", // style URL
    center: [lon, lat], // starting position as [lng, lat]
    zoom: 13
  });
  var marker = new mapboxgl.Marker().setLngLat([lon, lat]).addTo(map);
</script>
<% include ../partials/footer %>
