/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: teal;
}
.btn-ripple {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
}

.btn-ripple::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 50%;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all ease-in-out 1s;
  transform: scale(5, 5);
}

.btn-ripple:active::after {
  padding: 0;
  margin: 0;
  opacity: 0.2;
  transition: 0s;
  transform: scale(0, 0);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.container-fluid {
  border: none;
  background-color: #009688;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #009688 !important;
  border: none;
}
.btn-primary:hover {
  /* background-color: #009688 !important; */
  background-color: teal !important;
  border: none;
}

.navbar-brand {
  color: white;
  font-size: x-large;
}
.navbar-brand:hover {
  color: white;
}
.jumbotron {
  color: #009688;
  background-color: aquamarine;
  text-align: center;
}
.nav.navbar-nav.navbar-right a {
  color: white;
  font-size: large;
}
.nav.navbar-nav.navbar-right a:hover {
  color: teal;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: white !important;
  background-color: teal;
}
.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

/* Google Map styles */
#map {
  height: 400px;
  width: 100%;
}

/* FoodTruck show page delete button */
#delete-form {
  display: inline;
}

/* Flexbox grid fix */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* Edit form */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.column60 {
  float: left;
  width: 60%;
  padding: 10px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.column30 {
  float: center;
  width: 30%;
  padding: 15px;
  margin-bottom: 1rem;
  text-align: center;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* Menu styling */
.menu_item_col {
  width: 50%;
}

.left {
  float: left;
  border-left: none;
  border-right: none;
}

.right {
  float: right;
  border-left: none;
  border-right: none;
  text-align: right;
}
/* Mapbox styling */
/* Set the size of the div element that contains the map */
#map {
  padding-top: 20px;
  height: 400px;
  /* The height is 200 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
